# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
# Useful .gitignore templates: https://github.com/github/gitignore
node_modules
dist
.cache
P3D_PLya_vstream_compare.png
20230701_234107.jpg
PLya_reion_hist_resolution_combo.png
PLya_resolution_FRz6.png
